.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
}

.cursorPointer {
  cursor: pointer;
}

.buttonBox {
  display: flex;
  align-items: center;

  gap: 20px;
}

.main {
  height: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
}
